body{
    background-color: #09551c;
}
legend h2{
    color: white;
}
input{
    color: wheat;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
#comment{
    color: white;
    
}
#submit:hover{
    background-color: #b809a1;
    color: #ffe8d2;
     padding: 10px; 
     border-radius: 5px;
    /* width: 15px;
    height: 15px; */

} 
#submit{
    background-color: #2309b8;
    color: #d2ffd2;
     padding: 10px; 
     border-radius: 5px;
    /* width: 15px;
    height: 15px; */

}
fieldset{
    background-color: #09b83e;
}
.error{
color: #af4242;
background-color: #fdeBec;
padding: 10px;
display: none;
}
.error.display-error{
    display: block;
    margin-bottom: 20px;
    transform: translateY(-20px);
}

.success{
    margin-bottom: 30px;
    color: green;
    background-color: #d2ffd2;
    padding: 10px;
    display: none;
}
.success.display-success{
    display: block;
}

